[Desktop Entry]
Exec=flacon %U
Icon=flacon
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-cue;

Name=Flacon
GenericName=Audio File Encoder
Comment=Extracts audio tracks from an audio CD image to separate tracks.



# Translations
Comment[ja_JP]=オーディオCDイメージから分割トラックに展開します。
Icon[ja_JP]=flacon
Name[ja_JP]=Flacon
GenericName[ja_JP]=オーディオファイルエンコーダー
