[Desktop Entry]
Exec=flacon %U
Icon=flacon
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-cue;

Name=Flacon
GenericName=Audio File Encoder
Comment=Extracts audio tracks from an audio CD image to separate tracks.



# Translations
Comment[el]=Εξάγει κομμάτια ήχου από ένα CD image σε ξεχωριστά κομμάτια.
GenericName[el]=Κωδικοποιητής αρχείων ήχου
Name[el]=Flacon
Icon[el]=flacon
