[Desktop Entry]
Exec=flacon %U
Icon=flacon
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-cue;

Name=Flacon
GenericName=Audio File Encoder
Comment=Extracts audio tracks from an audio CD image to separate tracks.



# Translations
Comment[uk]=Видобуває доріжки з образу аудіо-КД.
GenericName[uk]=Кодувальник аудіофайлів
Name[uk]=Flacon
Icon[uk]=flacon
