[Desktop Entry]
Exec=flacon %U
Icon=flacon
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-cue;

Name=Flacon
GenericName=Audio File Encoder
Comment=Extracts audio tracks from an audio CD image to separate tracks.



# Translations
Comment[it]=Estrae tracce audio da un immagine CD audio e le selva separatamente.
Icon[it]=flacon
Name[it]=Flacon
GenericName[it]=Registratore file audio
