[Desktop Entry]
Exec=flacon %U
Icon=flacon
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-cue;

Name=Flacon
GenericName=Audio File Encoder
Comment=Extracts audio tracks from an audio CD image to separate tracks.



# Translations
Icon[pt_BR]=flacon
Name[pt_BR]=Flacon
GenericName[pt_BR]=Codificador de arquivo de áudio
Comment[pt_BR]=Extraia faixas de áudio de uma imagem de CD de áudio para faixas separadas
