[Desktop Entry]
Exec=flacon %U
Icon=flacon
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-cue;

Name=Flacon
GenericName=Audio File Encoder
Comment=Extracts audio tracks from an audio CD image to separate tracks.



# Translations
Icon[hu]=flacon
Comment[hu]=Kibontja egy CD-képfájlból az audio-sávokat különálló sávokra
GenericName[hu]=Audio-fájl átalakító
Name[hu]=Flacon
