[Desktop Entry]
Exec=flacon %U
Icon=flacon
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-cue;

Name=Flacon
GenericName=Audio File Encoder
Comment=Extracts audio tracks from an audio CD image to separate tracks.



# Translations
Comment[lt]=Išskleidžia garso takelius iš CD atvaizdžio į atskirus takelius.
GenericName[lt]=Garso failų koduotuvas
Name[lt]=Flacon
Icon[lt]=flacon
