[Desktop Entry]
Exec=flacon %U
Icon=flacon
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-cue;

Name=Flacon
GenericName=Audio File Encoder
Comment=Extracts audio tracks from an audio CD image to separate tracks.



# Translations
Comment[fr]=Extrait les pistes audio d’une image de CD audio en des pistes séparées.
Icon[fr]=flacon
Name[fr]=Flacon
GenericName[fr]=Encodeur de fichiers audio
