[Desktop Entry]
Exec=flacon %U
Icon=flacon
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-cue;

Name=Flacon
GenericName=Audio File Encoder
Comment=Extracts audio tracks from an audio CD image to separate tracks.



# Translations
Comment[es]=Extrae las pistas de un CD de audio a pistas independientes.
GenericName[es]=Codificador de Archivo de Audio
Name[es]=Flacon
Icon[es]=flacon
