[Desktop Entry]
Exec=flacon %U
Icon=flacon
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-cue;

Name=Flacon
GenericName=Audio File Encoder
Comment=Extracts audio tracks from an audio CD image to separate tracks.



# Translations
Icon[zh_CN]=flacon
Name[zh_CN]=Flacon
GenericName[zh_CN]=音频文件编码器
Comment[zh_CN]=从 CD 镜像提取单独曲目。
