[Desktop Entry]
Exec=flacon %U
Icon=flacon
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-cue;

Name=Flacon
GenericName=Audio File Encoder
Comment=Extracts audio tracks from an audio CD image to separate tracks.



# Translations
Comment[ru]=Извлекает аудио треки из CD образа WAV, FLAC, APE в отдельные файлы.
Icon[ru]=flacon
Name[ru]=Flacon
GenericName[ru]=Конвертер аудио файлов
