[Desktop Entry]
Exec=flacon %U
Icon=flacon
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-cue;

Name=Flacon
GenericName=Audio File Encoder
Comment=Extracts audio tracks from an audio CD image to separate tracks.



# Translations
Icon[tr]=flacon
Comment[tr]=Ses izlerini bir ses CD görüntüsünden çıkararak ayırır.
GenericName[tr]=Ses Dosyası Kodlayıcısı
Name[tr]=Flacon
