[Desktop Entry]
Exec=flacon %U
Icon=flacon
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-cue;

Name=Flacon
GenericName=Audio File Encoder
Comment=Extracts audio tracks from an audio CD image to separate tracks.



# Translations
Comment[pl]=Wyodrębnia ścieżki dźwiękowe z obrazu audio CD do pojedynczych ścieżek (plików).
GenericName[pl]=Konwerter plików audio
Name[pl]=Flacon
Icon[pl]=flacon
