[Desktop Entry]
Exec=flacon %U
Icon=flacon
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;AudioVideoEditing;
MimeType=application/x-cue;

Name=Flacon
GenericName=Audio File Encoder
Comment=Extracts audio tracks from an audio CD image to separate tracks.



# Translations
Icon[id]=flacon
Name[id]=Flacon
GenericName[id]=Berkas Audio Encoder
Comment[id]=Ekstrak trek audio dari berkas CD untuk memisahkan trek
