<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Devision</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{{ site.baseurl}}/css/style.css" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl}}/css/default.css" rel="stylesheet" type="text/css" />
<script type="{{ site.baseurl}}/text/javascript" src="js/cufon-yui.js"></script>
<script type="{{ site.baseurl}}/text/javascript" src="js/arial.js"></script>
<script type="{{ site.baseurl}}/text/javascript" src="js/cuf_run.js"></script>
</head>
<body>
<div class="main">
  
<div class="header">
  <div class="header_resize">
    <div class="logo">
      <h1><a href="index.html">Flac<span>on</span></a><small></small></a></h1>
    </div>
    <div class="menu_nav">
      {% include menu.html %}
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
</div>  

  
  <div class="clr"></div>
  
  <div class="content">
    <div class="content_resize">
      <div class="article">
        {{ content }}      
      </div>          
      <div class="clr"></div>
    </div>
  </div>

{% include footer.html %}
</div>
</body>
</html>
